<section class="task4">
    <header><h2>Task 4</h2></header>
    <section>
        <header>
            <h3>
                <button class="btn-primary" ng-click="transpose_table()">Transpose</button>
            </h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td>Table Data</td>
                    <td ng-repeat="column in (orientation ? columns : rows)">{{column.name}}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in (orientation ? rows : columns)">
                    <td>{{row.name}}</td>
                    <td ng-repeat="column in (orientation ? rows : columns)">{{ orientation ? get_value(row.id, column.id) : get_value(column.id, row.id) }}</td>
                </tr>
            </tbody>
        </table>
    </section>
</section>
